spring.application.name=backend
spring.datasource.url=jdbc:postgresql://HOST:PORT/DATABASE
spring.datasource.username=TU_USUARIO_DB
spring.datasource.password=TU_PASSWORD_DB
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=update
spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect

app.security.enabled=false

supabase.url=https://TU_PROYECTO.supabase.co
supabase.key=TU_SUPABASE_PUBLISHABLE_OR_ANON_KEY
